.layout {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 900px){
    flex-direction: row;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 50vh;
  border: 10px solid #055d5d;
  //padding: 5%;
  //padding-top: 20%;
  background-color: darkcyan;
  color: white;

  @media only screen and (min-width: 900px){
    height: 100vh;
  }

  &_text {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
  }
}

.links {
  background-color: #ffffff;
  width: 100vw;
  height: 50vh;
  color: darkcyan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media only screen and (min-width: 900px){
    height: 100vh;
  }

  &_text {
    display: flex;
    align-items: center;
    gap: 10px;
    color: darkcyan;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    transition: .3s all;

    &:hover {
      color: #006c75;
    }
  }
}
