.menu {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%,0);
  cursor: pointer;
  z-index: 50;
}

.nav {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: #006c75;
  z-index: 100;

  &_text {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
  }
}

