.layout {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: stretch;

  &_imageWrapper {
    width: 100vw;
    height: 70vh;
  }

  &_textWrapper {
    height: 30vh;
    box-sizing: border-box;
    padding: 5%;
    border: 10px solid #efefef;
  }
}