.imageWrapper {
  height: 50vh;
  width: 100vw;
  //overflow: hidden;
  margin-bottom: 50px;
}

.textWrapper {
  box-sizing: border-box;
  padding: 5%;
  border: 10px solid #efefef;
  text-overflow: ellipsis;

  &_text {
    font-size: small;
  }
}