.layout {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 900px){
    flex-direction: row;
  }
}

.place {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .6s;
  cursor: pointer;
  @media only screen and (min-width: 900px){
    height: 100vh;
  }

  &:nth-child(odd) {
    background-color: darkcyan;
    color: white;

    &:hover, :focus {
      background-color: white;
      color: black;
    }
  }

  &:nth-child(even) {
    color: darkcyan;

    &:hover, :focus {
      //background-color: black;
      color: black;
    }
  }
}

